.poll-edit-answers > li > table {
	width: 100%;
}

.poll-edit-answers-name {
	width: 200px;
}

.poll-edit-answers-icon {
	width: 20px;
	vertical-align: middle;
}

.poll-edit-answers-icon .elgg-icon {
	cursor: pointer;
}

.poll-edit-answers-blank .poll-edit-answers-icon .elgg-icon {
	display: none;
}

.poll-content {
	margin-top: 15px;
	margin-bottom: 15px;
}

.poll-result-chart-wrapper {
	position: relative;
	
	.poll-result-chart {
		max-height: 200px;
	}
	
	&.poll-result-bar .poll-result-chart {
		max-height: 400px;
	}
}

.poll-bar-legend .elgg-image-block {
	padding: 0;
}
.poll-bar-legend-item {
	width: 1em;
	height: 1em;
	display: inline-block;
}